{% extends 'base.html.twig' %}

{% block title %}DELETE ACCOUNT
{% endblock %}

{% block body %}

	{% if app.user %}
		<h1>Are you sure you want to delete your account?</h1>
		<p>Deleting your account will remove all your data from our database.</p>
		<p>Are you sure you want to delete your account?</p>
		<form action="{{ path('delete_account') }}" method="post">
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	{% else %}
		<h1>You are not logged in.</h1>
	{% endif %}

{% endblock %}
