{% extends 'base.html.twig' %}

{% block title %}EDIT ACCOUNT
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>EDIT ACCOUNT</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-primary">Save</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
