table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'helvetica';
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}