body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    
}

#home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    border: 1px solid black;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, select {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.343);
    border-radius: 5px;
    min-width: 250px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    margin: 1rem;
    border-bottom: 1px solid #333;
}

a:hover {
    opacity: 0.8;
}

.btn-container {
    display: flex;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.alert {
    font-weight: bold;
    border: 1px solid black;
    padding: 15px;
    width: auto;
    margin: 1rem auto;
}

.btn {
    border: none;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat', sans-serif;
}

.btn-show {
    background-color: #4CAF50;
}

.btn-show:hover {
    background-color: #3b8f3b;
}

.btn-delete {
    background-color: #f44336;
}

.btn-delete:hover {
    background-color: #da190b;
}

.btn-update {
    background-color: #2196F3;
}

.btn-update:hover {
    background-color: #0b7dda;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.form-login input {
    margin: 1rem 0;
}

#registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#registration-form input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#registration-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

